@charset "UTF-8";
/*
	Owner: College of Education and Human Development - U of M
	Title: CEHD Public Web - Candi-Land
	Version: Candi-Land 2015
	What's it do?: This is the 2015 version of the CandiLand style sheet.  It incorporates the new U of M header,
	removes the right column, and cleans up the code by a lot.
	Dependencies: Core2015
	Authors: Dan Sagisser and Jeff Abuzzahab
	Created: 2012-11-30
	Updated: 2015-05-26
*/

/* Un-comment to change some colors
	fieldset legend {color: #09f;}
	dl.DL-CardStack dt {background-color: #09f;}
	dl.DL-CardStack dd {border: thin #09f solid;}
	div#maincontent dl.DL-CardStack dt a {color: #fff;}
	table {border: 1px solid #e2e2e2;}
	th {border: 1px solid #e2e2e2;background-color: #09f;}
*/

body {
	background: fixed #7db9e8; /* Old browsers */
	background: fixed -moz-linear-gradient(top, #7db9e8 0%, #2545ba 100%); /* FF3.6+ */
	background: fixed -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#2545ba)); /* Chrome,Safari4+ */
	background: fixed -webkit-linear-gradient(top, #7db9e8 0%,#2545ba 100%); /* Chrome10+,Safari5.1+ */
	background: fixed -o-linear-gradient(top, #7db9e8 0%,#2545ba 100%); /* Opera 11.10+ */
	background: fixed -ms-linear-gradient(top, #7db9e8 0%,#2545ba 100%); /* IE10+ */
	background: fixed linear-gradient(to bottom, #7db9e8 0%,#2545ba 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#2545ba',GradientType=0 ); /* IE6-8 */
}

div#container {background-color:#fff;}
/*Made the nav wider BV*/
nav {width: 30%;}
div#maincontent {width: 70%; border-top:16px solid #00a896;}

/* -------------- HEADER ------------------------------------------------------------------- */

header {margin: 0;width: 100%;height: 100%;}
header a {display: block;clear: none;float: left;}
header a#deptlink {
	margin: 20px 0 0 0;
	padding: 0;
	padding-top: 7.0833333%;
	width: 100%;
	background: 100% no-repeat url(../images/dept-header/DHH-Header@1x.png);
	background-size: contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
}
header a#cehdlink {
	margin: 0 15% 20px 15%;
	padding: 0;
	padding-top: 4.89583333%;
	width: 70%;
	background: 100% no-repeat url(../images/dept-header/CEHD-WRDMRK-GREY@1x.png);
	background-size: contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
}
/* this substitutes a higher resolution wordmark for hi res screens */
@media only screen and (-webkit-min-device-pixel-ratio: 1.1),
    only screen and (-o-min-device-pixel-ratio: 11/10),
    only screen and (min--moz-device-pixel-ratio: 1.1),
    only screen and (min-device-pixel-ratio: 1.1) {
	header a#deptlink {
		background: 100% no-repeat url(../images/dept-header/DHH-Header@2x.png);
		background-size: contain;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
	}
	header a#cehdlink {
		background: 100% no-repeat url(../images/dept-header/CEHD-WRDMRK-GREY@2x.png);
		background-size: contain;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
	}
}

header a#deptlinkmobile {display: none;}

/* --------- end Header ----------------------------------------------------------------------*/


div#restabs div#tabnav {display: none;}

body {font-family: Verdana, Geneva, sans-serif;line-height:140%;}

/* --------- NAVIGATION -------------------------------------------------------------------- */

nav {background-color: #00a896;}

nav h1 {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

nav ul {list-style-type: none;
		text-align:center;
}
nav li {margin: 5% 0;text-transform: uppercase; border-bottom: 2px #009b8a solid;}
nav li li {margin: 2% 0;text-transform: none; border-bottom: none;}
nav li li li {margin: 2% 0;text-transform: none; border-bottom: none; list-style-type:none;}
/*nav li li li.URHere {list-style-type: disc; color: #888;}
nav li li li.URHere a {color: #333;}*/
nav ul ul{margin: 2% 0;}
nav ul ul ul {border-top: 1px solid #bbb;border-bottom: 1px solid #bbb;margin: 2% 0;}

nav ul li {
	text-transform: capatalize;
	clear: none;
	font-family: Futura PT, 'Century Gothic', Verdana, Geneva, Cambria,'Liberation Serif', Times, 'Times New Roman', serif;
	/*color: #fcffff;*/
	font-size: 21px;

}

nav ul li a {
	text-decoration: none;
	display:block;
	color: #fff;
	width:auto;
	padding:12px;
}

nav ul li ul li a {
	font-size:13px;
	font-family: Century Gothic, Futura PT, Verdana, Geneva, Times New Roman, serif;
	text-align: left;
	background-color: #eaebec;
	padding:6px;

}

/*If using white box orange type*/
/*nav a {color: #333; text-decoration:none;}*/
nav a:link {color: #fff;}
nav a:visited {color: #fff;}
nav a:active {color: #a3390f;}
nav a:hover {color: #bf5f16; background-color: #FFFFFF;}
nav a.URHere {font-weight: regular;color: #ce4a2b; background-color: #FFFFFF;}

nav ul li ul li a:link {color: #434345;}
nav ul li ul li a:visited {color: #434345;}
nav ul li ul li a:active {color: #434345;}
nav ul li ul li a:hover {color: #434345; background-color: #dde7e1;}
nav ul li ul li a.URHere {font-weight: regular;color: #434345; background-color: #c7e7e1;}

/*this block makes the navs expand*/
/*two levels deep*/
nav ul ul {display: none;}
nav ul ul.URHere {display: block;}
/*three levels deep*/
nav ul ul ul {display: none;}
nav ul ul ul.URHere {display: block;}

.title-nav h2 {
display:block;
font-family: Century Gothic, Futura PT, Verdana, Geneva, Times New Roman, serif;
color: #76797b;
padding:10px;
font-size: 0.7em;
background-color: #9bd9d0;
margin: 2% 0;
}

.title-nav h3 {
display:block;
font-family: Futura PT, Century Gothic, Verdana, Geneva, Times New Roman, serif;
padding:0px;
font-size: 13px;
}

li.URHere ul {
display:block;
font-family: Futura PT, Century Gothic, Verdana, Geneva, Times New Roman, serif;
padding:0px;
font-size: 3px;
}

/* --------- end NAVIGATION --------------------------------------------------------------- */

/* --------- MAIN CONTENT AREA ------------------------------------------------------------ */
div#maincontent iframe {margin: 10px 20px;}
div#maincontent h1, div#maincontent h2, div#maincontent h3, div#maincontent h4, div#maincontent h5{
	font-family: 'Futura PT', 'Century Gothic', Verdana, Geneva, 'Times New Roman', serif;
	text-transform: uppercase;
	color: #00a896;
}

div#maincontent h1{
	padding-bottom: 10px;
	border-bottom: medium solid #cfd0d2;
	padding-top: 5px;
	font-weight: bold;
	line-height: 1.2em;
}
div#maincontent h1 span {
font-weight:normal;
color: #ce4a2b;
}
div#maincontent {background-color:#fff;}
div#maincontent address {
	float: right;
	margin: 2.5%;
	padding: 1%;
	border-left: 1px #CCCCCC solid;
}
/*Top Icon Touch-Nav Portion*/
#touch-nav {
background-color: #3c3c3e;
}

.t-icons {
padding:0;
margin:0;
}

div#maincontent div#touch-nav a {
margin: 3%;
	padding: 0px;
	padding-top: 30%;
	width: 27%;
	/*height: 305px;*/
	display: block;
	background-size: contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	float:left;
	text-decoration:none;
}
div#maincontent div#touch-nav a:hover {border:none;text-decoration:none;}
a#touch-language {background: 100% no-repeat url(../images/Language-White@1x.png);}
a#touch-reading {background: 100% no-repeat url(../images/Reading-White@1x.png);}
a#touch-assessment {background: 100% no-repeat url(../images/Assessment-White@1x.png);}
a#touch-transition {background: 100% no-repeat url(../images/Transition-White@1x.png);}
a#touch-technology {background: 100% no-repeat url(../images/Technology-White@1x.png);}
a#touch-CBM{background: 100% no-repeat url(../images/CBM-White@1x.png);}

/* this substitutes a higher resolution icon for hi res screens */
@media only screen and (-webkit-min-device-pixel-ratio: 1.1),
    only screen and (-o-min-device-pixel-ratio: 11/10),
    only screen and (min--moz-device-pixel-ratio: 1.1),
    only screen and (min-device-pixel-ratio: 1.1) {
	a#touch-language {background: 100% no-repeat url(../images/Language-White@2x.png);}
a#touch-reading {background: 100% no-repeat url(../images/Reading-White@2x.png);}
a#touch-assessment {background: 100% no-repeat url(../images/Assessment-White@2x.png);}
a#touch-transition {background: 100% no-repeat url(../images/Transition-White@2x.png);}
a#touch-technology {background: 100% no-repeat url(../images/Technology-White@2x.png);}
a#touch-CBM{background: 100% no-repeat url(../images/CBM-White@2x.png);}
	}
.t-text{
background-color: #3c3c3e;
text-decoration: none;
color: #fff;
font-family: Century Gothic, Futura PT, Verdana, Geneva, Times New Roman, serif;
padding: 10px;
}
/*Display better in design view */
div#maincontent p, div#maincontent li {font-family: Verdana, Geneva, sans-serif;}
div#maincontent a {color: #0072bc; text-decoration: none;font-family: Verdana, Geneva, sans-serif; }
div#maincontent div.accordion {margin:2% 3%;padding:0;}
div#maincontent div.flexdivs {margin:2% 3%;padding:0;}
div#maincontent a:visited {color: #0072bc; text-decoration: none;}
div#maincontent a:hover {color: #005389; text-decoration: none;border-bottom: 1px dotted #005389;}
@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello-2015/fontello.eot");
  src: url("../../fonts/fontello-2015/fontello.eot") format('embedded-opentype'), url("../../fonts/fontello-2015/fontello.woff") format('woff'), url("../../fonts/fontello-2015/fontello.ttf") format('truetype'), url("../../fonts/fontello-2015/fontello.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

span#menuicon:before { font-family: 'fontello'; content: "\f0c9  "; }
span#moreicon:after  { font-family: 'fontello'; content: "  \e024"; }/* 9 dots*/
/*span#moreicon:after  { font-family: 'fontello'; content: "  \e79d"; }*//*layered stacks*/
input#umnh-searchbtn  { font-family: 'fontello'; }
div#umnheader a#umnh-myu:after { font-family: 'fontello'; content: "  \e801"; }

.maincontent {
    background-color: lime;
    border: 1px solid lime;
    display: block;
    padding: 10px;
}

/* -------------------------- Accordion UI Styles ----- */
div#maincontent div.accordion {font-size: 100%;}
div#maincontent div.accordion h2 {border-radius: 12px;}
div#maincontent div.accordion .ui-widget-content {border: none;background: none;}
div#maincontent div.accordion h3{margin-top: 20px;font-size: 1em;font-family: 'Futura PT', 'Century Gothic', Verdana, Geneva, sans-serif;text-transform: none;color: #000;font-weight: bold;}

/* -------------------------- PEOPLE PROFILE ---- */

div#maincontent div.peoplelist h2 {font-size:1.35em;}
div#maincontent div#Profile-Feed p.citation {margin: 0 25px;padding: 0;}
div#maincontent div#person img {float:right; margin: 0 8%;width: 150px;height: 225px;}
div#maincontent div#Profile-Feed div.third {width: 180px;}
div#Profile-Feed div.vcard p {line-height:1.2em;}
div#Profile-Feed div.CitationOL ol {list-style-type: none;text-indent: -2.5em;margin-left: 15px;}
div#Profile-Feed br.clear-right {height:0;font-size: 1px;line-height: 0px;clear: right;}

/* -------------------------- CALLOUT BOXES ----- */

div.calloutbox {margin: 15px;border-radius: 1px;}
div.calloutbox h2, div.calloutbox h3 {margin: 0;padding: 5px 15px;color: white;}
div#extracontent div.calloutbox h2 a, div#extracontent div.calloutbox h3 a {color: white;}
div.calloutbox h2 a, div.calloutbox h3 a {color: white;}
div.calloutbox h2 a:hover, div.calloutbox h3 a:hover {color: white;}
div.calloutbox h2 a:visited, div.calloutbox h3 a:visited {color: white;}
div#maincontent div.calloutbox.right {
	float: right;
	width: 30%;
	margin: 15px 15px 15px 15px
}
/* call out boxes become cenereted at this size */
@media all and (max-width: 780px) {
	div#maincontent div.calloutbox.right {
		float: none;
		width: 90%;
		margin: 0 0 0 25px;
	}
}

div.calloutbox.blue {border: 1px solid #6699cc;}
div.calloutbox.blue h2, div.calloutbox.blue h3 {background-color: #6699cc;}
div.calloutbox.paris {border: 1px solid #8491b4;}
div.calloutbox.paris h2, div.calloutbox.paris h3 {background-color: #8491b4;}
div.calloutbox.jodie {border: 1px solid #9563a9;}
div.calloutbox.jodie h2, div.calloutbox.jodie h3 {background-color: #9563a9;}
div.calloutbox.hugs {border: 1px solid #c75762;}
div.calloutbox.hugs h2, div.calloutbox.hugs h3 {background-color: #c75762;}
div.calloutbox.happy {border: 1px solid #ff4d4d;}
div.calloutbox.happy h2, div.calloutbox.happy h3 {background-color: #ff4d4d;}
div.calloutbox.mandarin {border: 1px solid #fd8000;}
div.calloutbox.mandarin h2, div.calloutbox.mandarin h3 {background-color: #fd8000;}

/* --------- end MAIN CONTENT AREA -------------------------------------------------------- */


/* --------- DEPARTMENT FOOTER - UofM PREFERRED ------------------------------------------- */

footer#deptfoot {
  display: block;
  width: 100%;
  clear: both;
  overflow: hidden;
  background-color: #fff;
  border-top: 1px #8dc73f solid;
  margin: 0 0 1.5% 0;
  padding: 0;
  font-size: .8em;
  color: #333;
}
footer#deptfoot a {
  border-bottom: 1px #333 dotted;
  text-decoration: none;
  color: #333;
}
footer#deptfoot a:visited {color: #333;}
footer#deptfoot address {float: left;width: 50%;margin: 1% 0 0 2%;padding: 0;}
footer#deptfoot address div#postal {margin: 0;padding: 0;}
footer#deptfoot address #emailus {margin: 5px 0;padding: 0;display: block;clear: both;}
footer#deptfoot address #telecom {margin: 5px 0;padding: 0;display: block;clear: both;}
footer#deptfoot span.breaker {display: block;clear: both;}

footer#deptfoot ul#footerlinks {
  float: right;
  width: 30%;
  list-style-type: none;
  text-align: right;
  margin: 1% 2% 0 0;
  padding: 0;
}
footer#deptfoot ul#footerlinks li {
  margin: 0 5px 5px 0;
  padding: 0;
}
/* --------- end DEPARTMENT FOOTER - UofM PREFERRED --------------------------------------- */



/*XXXXXXXXXXXXXX    Begin Media Querries (Break Points for responsive)   XXXXXXXXXXXXXXXXXX*/

@media all and (max-width: 830px) {

	div#restabs div#tabextra {
		background-color: rgba(0,0,0,.5);
		/*width: 100px;*/
		padding: 3px 15px;
		margin: 0 0 15px 0;
		display: block;
		float:right;
		cursor: pointer;
		border-radius: 8px 0 0 8px;
		color: white;
		font-size: 1.8em;
		/*position: fixed;*/
	}
	.active-extra div#restabs div#tabextra {background-color: #00538a;}
	div#maincontent div#Profile-Feed p img {width: 90%;height: auto;}
	div#maincontent div#Profile-Feed div.third {width: 33%;}

	/*this just makes the tabs look different when they are active*/
	.active-button {
		background-color: black;
	}
	div.half {width: 100%;}
	div.half p {margin:2% 3%;padding:0;}

}

@media all and (max-width: 520px) {
	nav {width: 50%;}
	div#maincontent {width: 100%;}

	div#restabs div#tabnav {
		background-color: #777;
		/*width: 100px;*/
		padding: 3px 15px;
		margin: 0 0 15px 0;
		display: block;
		float:left;
		cursor: pointer;
		color: white;
		border-radius: 0 8px 8px 0;
		font-size: 1.8em;
	}
	.active-nav div#restabs div#tabnav {background-color: #00538a;}
	header div#headerimages {display: none;}
	header a#cehdlink {display: none;}
	header a#deptlink {
		display: block;
		width: 90%;
		margin: 20px 5%;
		padding-top: 10.24%;
		background-position: center top;
		background: 100% no-repeat url(../images/dept-header/Mobile-Wordmark@1x.png);
		background-size: contain;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
	}
	div#maincontent div#Profile-Feed p img {margin: 0;width: 100%;}
	div#maincontent address {float: none;border: 1px #CCCCCC dashed;}
	.active-extra div#extracontent {width: 70%;}
	div#extracontent p {font-size: 1em;}
}

@media all and (max-width: 520px) and (-webkit-min-device-pixel-ratio: 1.1) {
	nav {width: 50%;}
	div#maincontent {width: 100%;}
	header a#deptlink {
		background: 100% no-repeat url(../images/dept-header/Mobile-Wordmark@2x.png);
		width: 90%;
		margin: 20px 5%;
		background-size: contain;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
	}
}
